# R
.Rhistory
.RData
.Rproj.user/

# renv
renv/library/
renv/python/
renv/staging/

# Shiny deployment
rsconnect/

# Data
data/raw/
data/private/
*.rds

# Logs
*.log

# OS
.DS_Store
Thumbs.db

#Base de datos runtime
*.sqlite
*.db

#Datos generados por la app
data/*
!data/.gitkeep
